.form-container,
.info-container {
  display: flex;
  justify-content: center;
}

.form,
.info {
  padding-top: var(--padding-5);
  width: var(--centered-width);
}

.form__title,
.info__title {
  margin-bottom: var(--padding-2);
}

.form__label,
.info__label {
  display: block;
  color: var(--light-text-accent-color);
  margin-top: var(--padding);
}

.form__input {
  display: block;
  width: 100%;
  border: var(--border);
  margin-bottom: var(--padding);
  padding: var(--padding-quarter) var(--padding);
  color: var(--main-text-color);
}

.form__submit-button,
.info__button {
  display: block;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  padding: var(--padding) 0;
  margin-top: var(--padding-2-and-a-bit);
  white-space: nowrap;
}

.info__button--inline {
  display: inline-block;
  width: auto;
  margin-top: 0;
  padding: var(--padding-half) var(--padding);
}

.form__submit-button:hover,
.form__submit-button:focus-visible {
  background-color: var(--secondary-background-color--hover);
}

.info__button {
  color: var(--main-text-color);
  border: var(--border);
  background-color: unset;
  outline: none;
}

.info__button:hover,
.info__button:focus {
  background-color: var(--main-hover-bg-color);
}

.info__button + .info__button {
  margin-top: var(--padding-and-a-bit);
}

.form__submit-button[disabled],
.info__button[disabled] {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.form__other-link,
.info__link {
  display: block;
  cursor: pointer;
  color: var(--light-text-accent-color);
  margin-top: var(--padding-2);
}

.form__other-link:visited,
.info__link:visited {
  color: var(--light-text-accent-color);
}

.form__other-link + .form__other-link,
.info__link + .info__link {
  margin-top: var(--padding-and-a-bit);
}

.form__error-message {
  color: #d93025;
  margin-top: var(--padding-2);
}

.info__data {
}

.checkbox-group__label {
  color: var(--light-text-accent-color);
}

.checkbox-group__container {
  margin-top: var(--padding-half);
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-and-a-bit);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.35em;
}

.checkbox__input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  appearance: none;
  background-color: var(--main-bg-color);
  width: 1em;
  height: 1em;
  border: var(--hard-border);
  outline: none;
}

.checkbox__input:checked {
  border-color: rgb(100, 218, 251);
  background-color: rgb(100, 218, 251);
}

.checkbox__input:checked::before {
  content: '\2713';
  color: #fff;
}

@supports selector(:has(*)) {
  .checkbox:has(.checkbox__input:focus-visible) {
    outline: 2px solid rgb(100, 218, 251);
    outline-offset: 2px;
  }
}

@supports not selector(:has(*)) {
  .checkbox__input:focus-visible {
    outline: 2px solid rgb(100, 218, 251);
    outline-offset: 2px;
  }
}

.checkbox__label {
  user-select: none;
  color: #fff;
  white-space: nowrap;
  color: var(--main-text-color);
}
