.page-container {
  min-height: 100%;
  height: 1px;
}

.page {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  min-height: 100%;
  line-height: var(--line-height);
  caret-color: var(--caret-color);
}

.page--light {
  --main-bg-color: #fff0f5;
  --main-text-color: #000;
  --light-text-accent-color: #555;
  --main-hover-bg-color: #ffd1da;
  --border: 1px solid #ffd1da;
  --hard-border: 1px solid #000;
  --caret-color: #000;
}

.page--dark {
  --main-bg-color: #222427;
  --main-text-color: #fff;
  --light-text-accent-color: #ddd;
  --main-hover-bg-color: #434343;
  --border: 1px solid #434343;
  --hard-border: 1px solid #fff;
  --caret-color: #e2b714;
}

.page-main {
  width: 100%;
}

.page-main__inner {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding) var(--padding-2);
}
